# List

In [1]:
a = [100,200,400,600,800,1000]

### 1.Insert():
- Used to add single element at the desired location.

In [2]:
a.insert(3,300)
print(a)

[100, 200, 400, 300, 600, 800, 1000]

### 2.Append():
- Used to add Single element at the end.

In [3]:
a.append(2300)
print(a)

[100, 200, 400, 300, 600, 800, 1000, 2300]

### 3.Extend():
- Used to add multiple element at the end.

In [4]:
a.extend([8500,10000])
print(a)

[100, 200, 400, 300, 600, 800, 1000, 2300, 8500, 10000]

In [5]:
len(a)

10

In [6]:
b=[5550,7850,2500,5650,8540]
a.extend(b)
print(a)

[100, 200, 400, 300, 600, 800, 1000, 2300, 8500, 10000, 5550, 7850, 2500, 5650, 8540]

In [7]:
a.remove(10000)

In [8]:
a

[100, 200, 400, 300, 600, 800, 1000, 2300, 8500, 5550, 7850, 2500, 5650, 8540]

In [9]:
a.sort()
print(a)

[100, 200, 300, 400, 600, 800, 1000, 2300, 2500, 5550, 5650, 7850, 8500, 8540]

In [10]:
#Indexing

a[5]

800

In [11]:
min(a)

100

In [12]:
max(a)

8540

### 4.Count():
- It returns the count of particular element.How many times no appear in list.

In [13]:
a.count(500)

0

### 5.pop():
- It removes the last element added in list.

In [14]:
a.pop()

8540

In [15]:
a

[100, 200, 300, 400, 600, 800, 1000, 2300, 2500, 5550, 5650, 7850, 8500]

In [16]:
type(a)

list

In [17]:
a.reverse()

In [18]:
a

[8500, 7850, 5650, 5550, 2500, 2300, 1000, 800, 600, 400, 300, 200, 100]

# Tuple

In [19]:
Tu = ('Django','Machine Learning','Pyspark','Docker')

In [20]:
Tu

('Django', 'Machine Learning', 'Pyspark', 'Docker')

In [21]:
type(Tu)

tuple

In [22]:
Tu[2]

'Pyspark'

In [23]:
Tu.count('Docker')

1

##### List into Tuple

In [24]:
Li = [1,11,111]
Tup = tuple(Li)
print(Tup)

(1, 11, 111)

##### Tuple into List

In [25]:
L1 = (10,20,30,40,50)
T1 = list(L1)
print(T1)

[10, 20, 30, 40, 50]

In [26]:
#Defining Tuple into a list.

L2 = [1500,1850,('ML','Flask'),2560]
print(L2)

[1500, 1850, ('ML', 'Flask'), 2560]

In [27]:
#Defining List into Tuple.

T2 = ('Data Analyst',10,15,20,[50,75,100],150)
print(T2)

('Data Analyst', 10, 15, 20, [50, 75, 100], 150)

# Set

- Set is collection of Unique element.
- Set is an unordered data structure.
- Set is mutable type data structure.
- Set does not duplicate values.

In [30]:
S1 = {1,11,1111,11111}
S1.add(111)

In [31]:
S1

{1, 11, 111, 1111, 11111}

In [32]:
S2 = {'IBM','Cricket','Mock',4520,3220}
S2.add('Interview')
print(S2)

{'IBM', 'Interview', 3220, 'Cricket', 'Mock', 4520}

In [33]:
SA = {10,20,30,40,50,90}
print(SA)

SB = {20,40,60,80}
print(SB)

{50, 20, 90, 40, 10, 30}
{40, 80, 20, 60}

In [34]:
SA.union(SB)

{10, 20, 30, 40, 50, 60, 80, 90}

In [35]:
SA.intersection(SB)

{20, 40}

In [36]:
SA.symmetric_difference(SB)

{10, 30, 50, 60, 80, 90}

In [37]:
SA.intersection_update(SB)

In [38]:
SA

{20, 40}

In [39]:
SB.remove(80)

In [40]:
SB

{20, 40, 60}

In [41]:
SB.pop()

40

In [42]:
SB

{20, 60}

In [43]:
SB.discard(60)

In [44]:
SB

{20}

In [45]:
S3 = {'Django',50,75,100,'Machine Learning','Pyspark',(25,50,75,100),'Docker'}

In [46]:
S3

{(25, 50, 75, 100),
 100,
 50,
 75,
 'Django',
 'Docker',
 'Machine Learning',
 'Pyspark'}

# Dictionary

- Dictionary is collection of items or element.(Key+value) pair.
- Key is always a immutable type and Value can be immmutable data type.
- Dictionary is unorederd type.
- If Key is present it returns its associates value. if key is not present it retuens default value.

In [47]:
D1 = {'Name':'Shrushti','Address':'Navin Nagar','City':'Pune','Salary':45000,
      'Gender':'Female', 'Nation':'India', 'Company':'TCS','FAv Team':'RCB'}

In [48]:
D1.values()

dict_values(['Shrushti', 'Navin Nagar', 'Pune', 45000, 'Female', 'India', 'TCS', 'RCB'])

In [49]:
D1.keys()

dict_keys(['Name', 'Address', 'City', 'Salary', 'Gender', 'Nation', 'Company', 'FAv Team'])

### pop()
- To delete single item

In [50]:
D1.pop('FAv Team')

'RCB'

In [51]:
D1

{'Name': 'Shrushti',
 'Address': 'Navin Nagar',
 'City': 'Pune',
 'Salary': 45000,
 'Gender': 'Female',
 'Nation': 'India',
 'Company': 'TCS'}

### popitem()
- To delete the last element that you added.

In [52]:
D1.popitem()

('Company', 'TCS')

In [53]:
D1.fromkeys(D1)

{'Name': None,
 'Address': None,
 'City': None,
 'Salary': None,
 'Gender': None,
 'Nation': None}

In [54]:
D1.setdefault('City','Pune')

'Pune'

In [55]:
D1

{'Name': 'Shrushti',
 'Address': 'Navin Nagar',
 'City': 'Pune',
 'Salary': 45000,
 'Gender': 'Female',
 'Nation': 'India'}

In [56]:
D1.items()

dict_items([('Name', 'Shrushti'), ('Address', 'Navin Nagar'), ('City', 'Pune'), ('Salary', 45000), ('Gender', 'Female'), ('Nation', 'India')])

In [57]:
D1.copy()

{'Name': 'Shrushti',
 'Address': 'Navin Nagar',
 'City': 'Pune',
 'Salary': 45000,
 'Gender': 'Female',
 'Nation': 'India'}

In [58]:
D1.update({'Company':'IBM'})

In [59]:
D1

{'Name': 'Shrushti',
 'Address': 'Navin Nagar',
 'City': 'Pune',
 'Salary': 45000,
 'Gender': 'Female',
 'Nation': 'India',
 'Company': 'IBM'}

In [60]:
D2 = {'Matrial Status':'Single'}

In [61]:
D1.update(D2)

In [62]:
D1

{'Name': 'Shrushti',
 'Address': 'Navin Nagar',
 'City': 'Pune',
 'Salary': 45000,
 'Gender': 'Female',
 'Nation': 'India',
 'Company': 'IBM',
 'Matrial Status': 'Single'}

# String

In [63]:
S1 = 'mock interview'
S1.upper()

'MOCK INTERVIEW'

In [64]:
S2 = 'Shrikant Pillai '
S2.strip()

'Shrikant Pillai'

In [65]:
S2.lstrip()

'Shrikant Pillai '

In [66]:
S2.rstrip()

'Shrikant Pillai'

In [67]:
S3 = "sagarvangari8928@gmail.com, shahrukhkhan8550@gmail.com, Nikhilgaikwad9730@gmail.com, tsd9596@gmail.com" 
S3.split('@')

['sagarvangari8928',
 'gmail.com, shahrukhkhan8550',
 'gmail.com, Nikhilgaikwad9730',
 'gmail.com, tsd9596',
 'gmail.com']

In [68]:
S3.split('@')[3]

'gmail.com, tsd9596'

In [69]:
S4 = 'admin@gmail.com'
S4.split("@")[1]

'gmail.com'

In [70]:
S3.split(';')

['sagarvangari8928@gmail.com, shahrukhkhan8550@gmail.com, Nikhilgaikwad9730@gmail.com, tsd9596@gmail.com']

In [71]:
S5 = 'test@show@mock@selection'
S5.split('@')

['test', 'show', 'mock', 'selection']

In [72]:
T = 'DIgital'
list(T)

['D', 'I', 'g', 'i', 't', 'a', 'l']

In [73]:
T.find('l')

6

In [74]:
M1 = 12
C1 = 12
Y1 = M1 * C1

print(Y1)

'Multiplication of M1 and C1 is Y1'.format(Y1,M1,C1)
'Multiplication of {} and {} is {}'.format(M1,C1,Y1)

144

'Multiplication of 12 and 12 is 144'

In [75]:
Str = '(1,10,20,Hadoop,Bigdata,30,40,50)'

In [76]:
print(Str)

(1,10,20,Hadoop,Bigdata,30,40,50)

In [77]:
Str.isalpha()

False

In [78]:
Str.isalnum()

False

In [79]:
Str.isnumeric()

False

In [80]:
Str.islower()

False